<app-nav></app-nav>
<div class ="container mt-5">

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
         <div class="card">
             <div class="card-body text-center">
                 <span class="titulo">Listado de clientes</span>
                 <button class="btn btn-success float-end fa-button" routerLink="/crear-cliente">Nuevo</button> 
                 <button class="btn btn-secondary btn-lg float-start" routerLink="/home">Volver</button>
                 <table class="table table-striped mt-3">
                     <thead>
                       <tr>
                         <th scope="col">Dni</th>
                         <th scope="col">Nombre</th>
                         <th scope="col">Edad</th>
                         <th scope="col"></th>
                       </tr>
                     </thead>
                     <tbody>
                      <!-- Función con la variable cliente con la posición del array listCliente-->
                      <tr *ngFor="let cliente of listCliente">
                         <th scope="row">{{ cliente._dni }}</th>
                         <td>{{ cliente._nombre}}</td>
                         <td>{{ cliente._edad }}</td>
                        <td><i (click)="eliminarCliente(cliente._dni)" class="fa-solid fa-trash"></i>
                          <i [routerLink]="['/editar-cliente', cliente._dni]"class="fa-solid fa-file-pen"></i>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   
             </div>
         </div>
     </div>
    </div>
 </div>
