<app-nav></app-nav>
<div class ="container mt-5">

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
         <div class="card">
             <div class="card-body text-center">
                 <span class="titulo">Listado de ventas</span>
                 <button class="btn btn-success float-end fa-button" routerLink="/crear-venta">Nuevo</button> 
                 <button class="btn btn-secondary btn-lg float-start" routerLink="/home">Volver</button>
                 <table class="table table-striped mt-3">
                     <thead>
                       <tr>
                         <th scope="col">Cod_compra</th>
                         <th scope="col">Comprador</th>
                         <th scope="col">Vendedor</th>
                         <th scope="col">Producto</th>
                         <th scope="col">Precio</th>
                         <th scope="col"></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let venta of listVenta">
                         <th scope="row">{{venta._cod_compra}}</th>
                         <td>{{venta._comprador}}</td>
                         <td>{{venta._vendedor}}</td>
                         <td>{{venta._producto}}</td>
                         <td>{{venta._precio}}</td>
                         <td><i (click)="eliminarVenta(venta._cod_compra)" class="fa-solid fa-trash"></i>
                           <i [routerLink]="['/editar-venta', venta._cod_compra]"class="fa-solid fa-file-pen"></i>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   
             </div>
         </div>
     </div>
    </div>
 </div>