<div class = "container mt-5"> 
    <div class = "row"> 
    <div class = "col-lg-6 offset-lg-3"> 
    <div class = "card"> 
    <div class = "card-body text-center">
    <span class = "titulo"> Crear cliente</span> 
    <form class= "mt-3" [formGroup]="clienteForm" (ngSubmit)="agregarCliente()">
    
        <div class="mb-3">
            <input type="text" formControlName="dni"
            class="form-control form-control-lg" placeholder="Dni">
            <div class="text-danger" *ngIf="clienteForm.get('dni')?.hasError('required') && clienteForm.get('id')?.touched">
                <span>El Dni es un campo <strong>obligatorio</strong></span>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" formControlName="nombre"
            class="form-control form-control-lg" placeholder="Nombre">
            <div class="text-danger" *ngIf="clienteForm.get('nombre')?.hasError('required') && clienteForm.get('nombre')?.touched">
                <span>El nombre  es un campo <strong>obligatorio</strong></span>
            </div>
        </div>
        <div class="mb-3">
            <input type="number" formControlName="edad"
            class="form-control form-control-lg" placeholder="Edad">
            <div class="text-danger" *ngIf="clienteForm.get('edad')?.hasError('required') && clienteForm.get('edad')?.touched">
                <span>La edad es un campo  <strong>obligatorio</strong></span>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary btn-lg float-start" routerLink="/listar-cliente">Volver</button>
            <button type="submit" [disabled]="clienteForm.invalid" class="btn btn-success btn-lg float-end">Finalizar</button>
        </div>
    
    
    </form>
    </div> </div> </div> </div> </div>