
<div class ="container mt-5">

   <div class="row">
       <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">Listado de producto</span>
                <button class="btn btn-success float-end fa-button" routerLink="/crear-producto">Nuevo</button> 
                <button class="btn btn-secondary btn-lg float-start" routerLink="/home">Volver</button>
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Gama</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of listProducto">
                        <th scope="row">{{ producto.id }}</th>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.modelo }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.gama }}</td>
                        <td>{{ producto.precio }}</td>
                        <td><i (click)="eliminarProducto(producto.id)" class="fa-solid fa-trash"></i>
                          <i [routerLink]="['/editar-producto', producto.id]" class="fa-solid fa-file-pen"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
        </div>
    </div>
   </div>
</div>