<app-nav></app-nav>
<div class ="container mt-5">

   <div class="row">
       <div class="col-lg-9 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">Listado de producto</span>
                <button class="btn btn-success float-end fa-button" routerLink="/inicio-crear-productos">Nuevo Producto</button> 
                <button class="btn btn-secondary btn-lg float-start" routerLink="/home">Volver</button>
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Gama</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Tipo de placa</th>
                        <th scope="col">Pantalla</th>
                        <th scope="col">Bateria</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of listProducto">
                        <th scope="row">{{ producto._codProducto }}</th>
                        <td>{{ producto._nombre }}</td>
                        <td>{{ producto._modelo }}</td>
                        <td>{{ producto._categoria }}</td>
                        <td>{{ producto._gama }}</td>
                        <td>{{ producto._precio }}</td>
                        <td>{{ producto._tipoPlaca }}</td>
                        <td>{{ producto._pantalla }}</td>
                        <td>{{ producto._bateria }}</td>
                        <td><i (click)="eliminarProducto(producto._codProducto)" class="fa-solid fa-trash"></i>
                          <i *ngIf="producto._categoria == 'Movil'" [routerLink]="['/editar-movil', producto._codProducto]" class="fa-solid fa-file-pen"></i>
                          <i *ngIf="producto._categoria == 'Portatil'" [routerLink]="['/editar-portatil', producto._codProducto]" class="fa-solid fa-file-pen"></i>
                          <i *ngIf="producto._categoria == 'Sobremesa'" [routerLink]="['/editar-sobremesa', producto._codProducto]" class="fa-solid fa-file-pen"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
        </div>
    </div>
   </div>
</div>