<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">
      &nbsp; <i class="fa-solid fa-desktop"></i></a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-producto"
            ><i class="fa-solid fa-box-open"></i> Productos</a 
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-cliente"
            ><i class="fas fa-user-friends"></i>Clientes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-empleado"
            ><i class="fa-solid fa-person"></i> Empleados</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-venta"
            ><i class="fa-solid fa-euro-sign"></i> Ventas</a
          >
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/estadistica"
              ><i class="fa-solid fa-chart-simple"></i> Estadisticas</a
            >
          </li>
       
      </ul>
    </div>
  </nav>
