<app-nav></app-nav>
<div class ="container mt-5">

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
         <div class="card">
             <div class="card-body text-center">
                 <span class="titulo">Listado de empleados</span>
                 <button class="btn btn-success float-end fa-button" routerLink="/inicio-crear-empleados">Nuevo</button> 
                 <button class="btn btn-secondary btn-lg float-start" routerLink="/home">Volver</button>
                 <table class="table table-striped mt-3">
                     <thead>
                       <tr>
                         <th scope="col">Dni</th>
                         <th scope="col">Nombre</th>
                         <th scope="col">Edad</th>
                         <th scope="col">Especialidades</th>
                         <th scope="col">Sueldo</th>
                         <th scope="col">Horario</th>
                         <th scope="col">Num_reparaciones</th>
                         <th scope="col"></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let empleado of listEmpleado">
                         <th scope="row">{{ empleado._dni }}</th>
                         <td>{{ empleado._nombre }}</td>
                         <td>{{ empleado._edad }}</td>
                         <td>{{ empleado._especialidades }}</td>
                         <td>{{ empleado._sueldo | currency: ' € ' }}</td>
                         <td>{{ empleado._horario }}</td>
                         <td>{{ empleado._num_reparaciones }}</td>
                         <td><i (click)="eliminarEmpleado(empleado._dni)" class="fa-solid fa-trash"></i>
                          <i *ngIf="empleado._especialidades == 'Informatico'" [routerLink]="['/editar-informatico', empleado._dni]" class="fa-solid fa-file-pen"></i>
                          <i *ngIf="empleado._especialidades == 'Dependiente'" [routerLink]="['/editar-dependiente', empleado._dni]" class="fa-solid fa-file-pen"></i>
                          
                        </td>
                       </tr>
                     </tbody>
                   </table>
                   
             </div>
         </div>
     </div>
    </div>
 </div>